<div class="grid-container">
  <h2><%= t '.title' %></h2>

  <table>
    <thead>
      <tr>
        <th><%= Game.human_attribute_name('id') %></th>
        <th><%= Game.human_attribute_name('name') %></th>
        <th><%= Game.human_attribute_name('publisher') %></th>
        <th class="text-right">
          <%= link_to new_admin_game_path do %>
            <%= icon 'fas', 'plus' %>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @games %>
    </tbody>
  </table>

  <%= paginate @games %>
</div>
