<div class="grid-container">
  <h2><%= t '.title' %></h2>

  <table>
    <thead>
      <tr>
        <td><%= Game.human_attribute_name('id') %></td>
        <td><%= Game.human_attribute_name('name') %></td>
        <td><%= Game.human_attribute_name('publisher') %></td>
        <td class="text-right">
          <%= link_to new_admin_game_path do %>
            <%= icon 'fas', 'plus' %>
          <% end %>
        </td>
      </tr>
    </thead>
    <tbody>
      <%= render @games %>
    </tbody>
  </table>
</div>
