<div id="game" class="grid-container">
  <h1><%= @game.name %></h1>

  <div class="grid-x grid-margin-x">
    <div class="cell large-3">
      <%= image_tag @game.cover_image_url, alt: @game.name %>
    </div>

    <div class="cell large-9">
      <ul class="details">
        <li>
          <strong><%= t 'shared.publisher' %></strong>
          <%= @game.publisher.name %>
        </li>
      </ul>

      <div class="description">
        <%= @game.description %>
      <div>
    </div>
  </div>
</div>
