<div class="grid-container">
  <h2><%= t '.title' %></h2>

  <table>
    <thead>
      <tr>
        <th><%= Publisher.human_attribute_name('id') %></th>
        <th><%= Publisher.human_attribute_name('name') %></th>
        <th><%= Publisher.human_attribute_name('website') %></th>
        <th class="text-right">
          <%= link_to new_admin_publisher_path do %>
            <%= icon 'fas', 'plus' %>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @publishers %>
    </tbody>
  </table>

  <%= paginate @publishers %>
</div>
