<div class="grid-container">
  <div class="grid-x">
    <div class="cell large-6 large-offset-3">
      <div class="callout large sign-in-box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="grid-x">
            <div class="cell">
              <label>
                <%= t('shared.email') %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </label>
            </div>
            <div class="cell">
              <label>
                <%= t('shared.password') %>
                <%= f.password_field :password, autocomplete: "current-password" %>
              </label>
            </div>
            <div class="cell large-6 large-offset-3">
              <button type="submit" class="button primary expanded">
                <%= t('shared.sign_in') %>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
